@import url('https://fonts.googleapis.com/css2?family=roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
}
.headerSection{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/back_tech1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.headContainer{
   height: 51px;
   border-bottom: 1px solid #fff;
}
.topNav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;;
    height: 50px;
    width: 80%;
    margin: 0 auto 0 auto;
}
.socialInfo{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
.topNav .loginBtn{
    width: 150px;
    height: 50px;
    background-color: #1F3D83;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    border: 1px dotted #fff;
}
.fa-brands{
    color: #fff;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.navbar{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
    position: relative;
    top: 30px;
}
.navbar img{
    width: 70px;
    height: 70px;
}
.navmenu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
    margin-right: 120px;
}
.navmenu a{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.productMenu{
    height: 400px;
    width: 600px;
    background-color: #fff;
    position: relative;
    left: 360px;
    top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #000;
    z-index: 1;
    display: none;
}
.productMenu ul{
    list-style: none;
    text-align: center;
}
.productMenu ul li{
    color: rgb(3, 3, 3);
}
.headContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 0 auto;
    margin-top: 130px;
    text-align: center;
}
.headContent h1{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}
.headContent p{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-top: 50px;
}
.headContent .headBtn{
    margin-top: 70px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.headContent .headBtn button{
    height: 60px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.headContent .headBtn button:nth-child(2){
    background-color: #1F3D83;
    color: #fff;
}
.ourService{
    width: 100vw;
    height: 100vh;
    background-color: #f6f7ff;
}
.ourService .container{
    width: 80%;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
}
.ourService .container .textContent{
    width: 60%;
    margin: 0 auto;
}
.ourService .container .textContent h1{
    font-size: 32px;
    font-weight: bold;
}
.ourService .container .textContent p{
    margin-top: 10px;
}
.serviceBox{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}
.serviceBox .box{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 350px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}
.box .img{
    background-color: #2AC59F;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h3{
    font-size: 18px;
    font-weight: 700;
}
.box p{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.box button{
    margin-top: 20px;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #1F3D83;
    outline: none;
    font-size: 14px;
    background-color: #1F3D83;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    cursor: pointer;
}
.about{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
.about .aboutContainer{
    width: 80%;
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about .aboutContainer .aboutPart{
    width: 40%;
    text-align: center;
}
.about .aboutContainer .aboutPart p{
    margin-top: 20px;
}
.about .aboutContainer .aboutPart button{
    margin-top: 30px;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #1F3D83;
    outline: none;
    font-size: 12px;
    background-color: #1F3D83;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    cursor: pointer;
}